@{
    ViewData["Title"] = "Michael's Mediocre Website";
}



<div class="container">
    <h1>Welcome to my mediocre website!</h1>
    <h3>This was done with lots of effort so it definitely deserves an A.</h3>
    <img width="400" src="img/MeAndTheBoys.jpg" />
    <p>This is a picture of me and some friends after I got injured while skiing!</p>
    <p>The guy patching me up was really cool and let us take pictures while he was trying to patch up the hole in my leg and get me ready for transportation.</p>

    <h3>What I want to get out of IS 413:</h3>
    <p>
        I'm excited about IS 413 for a number of reasons. This seems like the most comprehensive look at web development that we've seen yet, as well as the most reasonable.
        What I hope to gain from this class is the knowledge to build actual functioning web apps that look good and could be used by an organization.
        In other words, I want something I can put on a resume and feel confident about.
    </p>

    <h3>My top three jobs I'm looking for:</h3>
    <ol>
        <li>Data Scientist</li>
        <li>Tech Consultant</li>
        <li>Product Manager</li>
    </ol>
    <p style="font-style:italic">Do I actually have these skills? That remains yet to be seen!</p>



</div>