@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Michael's Mediocre Site</title>
    <link rel="icon" type="image/x-icon" href="img/MeAndTheBoys.jpg" />
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Welcome to my mediocre website!</h1>
        <h3>This was done with lots of effort so it definitely deserves an A.</h3>
        <img width="400" src="img/MeAndTheBoys.jpg" />
        <p>This is a picture of me and some friends after I got injured while skiing!</p>
        <p>The guy patching me up was really cool and let us take pictures while he was trying to patch up the hole in my leg and get me ready for transportation.</p>

        <h3>What I want to get out of IS 413:</h3>
        <p>
            I'm excited about IS 413 for a number of reasons. This seems like the most comprehensive look at web development that we've seen yet, as well as the most reasonable.
            What I hope to gain from this class is the knowledge to build actual functioning web apps that look good and could be used by an organization.
            In other words, I want something I can put on a resume and feel confident about.
        </p>

        <h3>My top three jobs I'm looking for:</h3>
        <ol>
            <li>Data Scientist</li>
            <li>Tech Consultant</li>
            <li>Product Manager</li>
        </ol>
        <p style="font-style:italic">Do I actually have these skills? That remains yet to be seen!</p>

        <h3>Grade Calculator</h3>
        <p style="font-style:italic">Only write a number up to two decimal places.</p>
        <p style="font-style:italic">i.e. If you anticipate getting 94.15% on all assignments, enter "94.15".</p>
        <form>
            <label>Assignments: </label>
            <input id="assignments" />%<br />
            <label>Group Project: </label>
            <input id="groupproject" />%<br />
            <label>Quizzes: </label>
            <input id="quizzes" />%<br />
            <label>Exams: </label>
            <input id="exams" />%<br />
            <label>INTEX: </label>
            <input id="intex" />%<br />
            <input id="btnSend" type="button" value="Calculate Final Grade" />
        </form>

        <script src="lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="lib/jquery/jquery-3.6.0.min.js"></script>
        <script src="js/gradeCalculator.js"></script>

    </div>
</body>
</html>